main {
  font-size: 1.5rem;
  background: rgb(131,58,180);
  background: linear-gradient(180deg, rgba(131,58,180,0.2) 0%, rgba(253,29,29,0.2) 50%, rgba(252,176,69,0.2) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index {
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  width: 20%;
  border-radius: 100%;
}

.contactMe {
  font-size: 1.5rem;
  background: rgba(4, 0, 126, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  }

.hobbies {
  font-size: 1.5rem;
  background: rgba(4, 0, 126, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.skills {
  max-width: 100%;
}

.skills h2 {
  text-align: center;
  margin-bottom: 10px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.skills .stars {
  color: #ffc107; /* Amarillo para las estrellas */
  white-space: nowrap;
}

.contact-list {
  list-style:none;
  margin-bottom: 10rem;
}

.hobbies-list {
  list-style:none;
  margin-bottom: 10rem;
}

.other {
  text-decoration: none;
  color: black
}

.other:hover {
  color: green
}
.contact {
  text-decoration: none;
  color: black
}

.contact:hover {
  color: green
}

.footer-link {
  text-decoration: none;
  color: black
}

.footer-link:hover {
  color: green
}

.back a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.back a:hover {
  color: green;
}