.index {
  font-size: 1.5rem;
  background: rgb(131,58,180);
  background: linear-gradient(180deg, rgba(131,58,180,0.2) 0%, rgba(253,29,29,0.2) 50%, rgba(252,176,69,0.2) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactMe {
  font-size: 2rem;
  background: rgba(0, 126, 38, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  }

.hobbies {
  font-size: 2rem;
  background: rgba(0, 126, 38, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
